<!DOCTYPE html>
<html>
    <head>
        <title>ForceMVC2 Example</title>
    </head>
    <body>
            <h2 align="center">Welcome to Dart 2</h2>
            <form action="/verify" method="POST">
                <p>
                <input type="text" name="title"> Movie Title
                </p>

                <div>
                    <input title="VHS" type="checkbox" name="format[]" value="VHS"> VHS
                    <input title="DVD" type="checkbox" name="format[]" value="DVD"> DVD
                </div>
                <div>
                    <input type="radio" name="acting[]" value="Live Action"> Live Action
                    <input type="radio" name="acting[]" value="Animated" checked> Animated
                    <input type="radio" name="acting[]" value="CGI"> CGI
                   
                </div>
             
                
                <input type="submit" value="Add movie">
            </form>
        
       

        

    </body>
</html>